@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(87, 167, 167);
}

a {
  text-decoration: none;
}

.add-form {
  box-shadow: 20px 20px 60px #60adac, -20px -20px 60px #82ebe8;
}
